In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import string

In [8]:
!ls ../data_full/raw/big_twitter

Company.csv  Company_Tweet.csv	Tweet.csv

In [13]:
fp_company = "../data_full/raw/big_twitter/Company.csv"
df_company = pd.read_csv(fp_company)

In [17]:
df_company

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft

In [16]:
set(df_company["company_name"])

{'Amazon.com', 'Google Inc', 'Microsoft', 'Tesla Inc', 'apple'}

In [12]:
df_company.shape

(3717964, 7)

In [6]:
fp = "../data_full/raw/big_twitter/Tweet.csv"
df = pd.read_csv(fp)

In [7]:
df.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1.420070e+09,"lx21 made $10,008 on $AAPL -Check it out! htt...",0.0,0.0,1.0
1,550441672312512512,KeralaGuy77,1.420070e+09,Insanity of today weirdo massive selling. $aap...,0.0,0.0,0.0
2,550441732014223360,DozenStocks,1.420071e+09,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0.0,0.0,0.0
3,550442977802207232,ShowDreamCar,1.420071e+09,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0.0,0.0,1.0
4,550443807834402816,i_Know_First,1.420071e+09,Swing Trading: Up To 8.91% Return In 14 Days h...,0.0,0.0,1.0